<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('列车管理列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>列车类型：</p>
                            <input type="text" name="type"/>
                        </li>
                        <li>
                            <p>发站：</p>
                            <input type="text" name="hairstanding"/>
                        </li>
                        <li>
                            <p>到站：</p>
                            <input type="text" name="theterminal"/>
                        </li>
                        <li class="select-time">
                            <p>开车时间：</p>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginDrivingtime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endDrivingtime]"/>
                        </li>
                        <li>
                            <p>票价：</p>
                            <input type="text" name="price"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="travel:travelcrud:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="travel:travelcrud:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="travel:travelcrud:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="travel:travelcrud:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('travel:travelcrud:edit')}]];
    var removeFlag = [[${@permission.hasPermi('travel:travelcrud:remove')}]];
    var prefix = ctx + "travel/travelcrud";

    //购票窗口
    function buy(id) {
        table.set();
        $.ajax({
            url: prefix + "/ticket/" +id,
            success: function(data){
                var msg = data.user.userName+'你好,确定要购买'+data.ticketInfo.trains+'车次吗?'
                layer.confirm(msg, {
                    btn: ['购买', '取消'] //可以无限个按钮
                }, function(index, layero){
                    //按钮一事件
                    $.ajax({
                        url : "/order/ordercrud/addOrder/" + id,
                        success: function (data) {
                            if(data.msg == 1){
                                alert("下单成功!");
                                $.modal.closeAll();
                            }else{
                                alert("下单失败!");
                            }
                        }
                    })
                }, function(index){
                    //按钮二事件
                    $.modal.close();
                });
            }
        })
    }

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "列车管理",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'type',
                    title: '列车类型'
                },
                {
                    field: 'hairstanding',
                    title: '发站'
                },
                {
                    field: 'theterminal',
                    title: '到站'
                },
                {
                    field: 'transferstation',
                    title: '中转站'
                },
                {
                    field: 'drivingtime',
                    title: '开车时间'
                },
                {
                    field: 'timeofarrival',
                    title: '到达时间'
                },
                {
                    field: 'trains',
                    title: '车次'
                },
                {
                    field: 'standNumber',
                    title: '站数'
                },
                {
                    field: 'price',
                    title: '票价'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-primary btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="buy(\'' + row.id + '\')"><i class="glyphicon glyphicon-shopping-cart"></i>购票</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>