<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <title> 测试</title>
</head>

<body>
<input id="filePath" name="filePath" class="form-control" type="file">
</body>
<script>
        function submitHandler() {
        if ($.validate.form()) {
        uploadFile();
        }
        }

        function uploadFile() {
        var formData = new FormData();
        if ($('#filePath')[0].files[0] == null) {
    $.modal.alertWarning("请先选择文件路径");
    return false;
    }
    formData.append('fileName', $("#fileName").val());
    formData.append('file', $('#filePath')[0].files[0]);
    $.ajax({
    url: prefix + "/add",
    type: 'post',
    cache: false,
    data: formData,
    processData: false,
    contentType: false,
    dataType: "json",
    success: function(result) {
    $.operate.successCallback(result);
    }
    });
    }
</script>
</html>